

.MMM-Fitbit2-ext .widget {
	padding: 0px 10px 0 10px;
}

.widgetheader {
	border-bottom: 1px solid white;
  }

.MMM-Fitbit2-ext .chartrow {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.MMM-Fitbit2-ext .widgeticon {
	height: 30px;
	width: 30px;
	display: block;
	margin: 0 auto;
	flex: 0 0 30px;
}

.heartElement {
	height: 30px;
	width: 30px;
}

.chartelement {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex: 1;
	align-items: center;
	padding: 0px 5px 0 5px;
	font-size: small;
  }

.chart {
	height: 50px;
	width: 50px;
}

.MMM-Fitbit2-ext .lastsyncedwrapper {
	position: relative;
}

.MMM-Fitbit2-ext .textbottomwrapper {
	position: absolute;
	bottom: 0;
}

.MMM-Fitbit2-ext .textbottom {
	position: relative;
}
