.MMM-Fitbit2-ext .wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	max-width: fit-content;
}

.MMM-Fitbit2-ext .widget {
	padding: 0 5px 0 5px;
}

.MMM-Fitbit2-ext .widgetheader {
	border-bottom: 1px solid white;
  }

.MMM-Fitbit2-ext .chartrow {
	padding: 0px 10px 0 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

.MMM-Fitbit2-ext .widgeticon {
	height: 30px;
	width: 30px;
	display: block;
	margin: 0 auto;
	padding: 0 20px 0 0;
	flex: 0 0 30px;
}

.MMM-Fitbit2-ext .chartelement {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	padding: 0px 2px 0 2px;
	font-size: small;
  }

.MMM-Fitbit2-ext .chart {
	height: 50px;
	width: 50px;
	align-items: center;
}

.MMM-Fitbit2-ext .chartcanvas {
	height: 50px;
	width: 50px;
	margin: 0 auto;
}

.MMM-Fitbit2-ext .heartElement {
	height: 50px;
	width: 50px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	flex: 0 0 50x;
	align-items: center;
	font-size: medium;
}

.MMM-Fitbit2-ext .lastsyncedwrapper {
	position: relative;
}

.MMM-Fitbit2-ext .textbottomwrapper {
	position: absolute;
	bottom: 0;
}

.MMM-Fitbit2-ext .textbottom {
	position: relative;
}
